@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0
}

h1 {
  font-size: 24px 
}

h2 {
  font-size: 22px 
}

h3 {
  font-size: 18px 
}

h4 {
  font-size: 16px 
}

h5 {
  font-size: 14px 
}

h6 {
  font-size: 13px 
}

.banner {
  margin: 0;
  padding: 0;
  height: 100px;
  width: auto;
  display: block;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header{
  z-index: -1;
}

.nav {
  z-index: 5;/*Zorgt er voor dat menu altijd over alles staat*/
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: white;
  height: 100px ;
  box-shadow: 0px 0px 10px rgba(0,0,0,2);
}

.logo {
  cursor: pointer;
  height: 50px;
}

.logo_bovis{
  height: 150px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #3d3d3d;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a {
  padding: 0px 20px;
  transition: color 0.3s ease 0s;
}

.nav__links a:hover {
  color: #0E8943;
  font-size: 28px;
}

.cta {
  padding: 9px 25px;
  position: relative;
  z-index: 1;
  background-color: #0E8943;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgb(14, 137, 67, 0.8);
}

/* Drop down */

 /* Dropdown Button */
.dropbtn {
background-color: transparent;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    font-size: 24px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn{
    color: #0E8943;
    font-size: 28px;
    transition: color 0.3s ease 0s;
    cursor: pointer;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50000;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50000;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50000;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  z-index: 500;
  height: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  cursor: pointer;
  color: #edf0f1;
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay1 a {
  cursor: pointer;
  color: #edf0f1;
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay2 a {
  cursor: pointer;
  color: #edf0f1;
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.overlay1 .Back1 {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.overlay2 .Back2 {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay2 a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay2 .Back{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  
}

@media only screen and (max-width: 800px) {
  .nav__links, .cta{
    display: none;
  }
  .menu {
    display: initial;
  }
  .logo_bovis{
    height: 100px;
  }
  .logo {
    height: 50px;
  }
}

/*-----Geschiedenis-----*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #0E8943;
  border: 4px solid #0E8943;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-left {
  left: 0.25%;
}

/* Place the container to the right */
.timeline-right {
  left: 49.75%;
}

.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-right::after {
  left: -13px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0%;
  }
  .timeline-right::after {
    left: 18px;
  }
  .timeline-left::after {
    left: 18px;
  }
  .geschiedenis {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .timeline-content {
    width: 100%;
  }
}

/*----CLUBLIED-----*/

.containerlied{
  margin: 43.5px;
}

.cl-title {
  margin-bottom: 2%;
  text-align: center;
}
.cl-title h1{
  font-size: 40px;
  font-weight: bold;
}

.lied-title {
  text-align: center;
  font-style: italic;
}

.lied-title h2{
  color: #666666;
}

.lied {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1%;
}

.lied p{
  font-size: 20px;
  margin: 20px;
}

@media screen and (max-width: 800px){
  .clublied .lied {
    width: 90%;
    margin-bottom: 20%;
  }
}


@media screen and (max-width: 600px) {
  .clublied .lied-title {
    margin-top: 2rem;
  }
  .clublied .lied-title h2 {
    font-size: 20px;
  }
  .clublied .lied {
    width: 90%;
    margin-bottom: 20%;
  }
}

/*-----SPONSORS-----*/

.titel-sponsors h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container-sponsors{
  margin: 50px 50px;
  margin-bottom: 17%;
}

.sponsors{
  margin-left: auto;
  margin-right: auto;
}

.sp-grid {
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 0;
}

.sp-grid img {
  width: 200px;
  margin: 20px;

}

.sp-foot {
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .sp-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .sp-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .sponsors {
    margin-top: 2rem;
  }
}

/*-----TROOPER-----*/

.tro-titel {
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.tro-titel h1 {
  
  font-weight: bold;
  text-align: center;
}

.tro-titel h2 {
  font-size: 30px;
  color: #0E8943;
  text-align: center;
}

.tro-titel p {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tro-titel a {
  width: 15%;
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  background-color: #0E8943;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.tro-titel a:hover {
  text-decoration: none;
  background-color: rgb(14, 137, 67, 0.8);
  transition: .5s;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.15rem;
}

@media only screen and (max-width: 600px) {
  .tro-titel h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 30px;
  }
  .tro-titel p {
    width: 90%;
  }
  .tro-titel a {
    width: 110px;
  }
  .video iframe {
    max-width: 100%;
  }
}

/*-----KALENDER-----*/

.kal-titel h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.kalender {
  margin-top: 2rem;
}

.kalender-zelf iframe {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  height: 80vh;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .kalender-zelf iframe {
    width: 80%;
    height: 70vh;
  }
}

/*-----VOORDELEN-----*/

.container-voordelen{
  margin: 10px;
  margin-top: 50px;
}

.container-voordelen h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.voordelen {
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 0;
}
.voordeel{
  background-color: rgb(235, 235, 235);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  width: 300px;
  height: 100%;
}

.voordeel h1{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0E8943;
}

.voordeel p{
  font-size: 18px;
}

/*-----OUD-PRAESIDIUM-----*/

.container-oudpres{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px 0;
}

.oudpres{
  width: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.oudpres h1{
  font-size: 30px;
  font-weight: bold;
}

.oudpres table{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.oudpres table td{
  border-bottom: 0.25px solid rgba(128, 128, 128, 0.4);
  padding-top: 5px;
  font-size: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.oudpres table td:first-child{
  font-weight: 500;
  text-transform: uppercase;
}

.oudpres table td:first-child::after{
  content: ":";
}


/*-----FOOTER-----*/

footer svg{
  position: absolute;
  z-index: -1;
}
 
footer .copy {
  font-size: 20px;
  text-align: center;
  color: white;
  padding-top: 40px;
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social .fab {
  color: white;
  font-size: 25px;
}

footer .social .fa-instagram {
  margin-left: 20px;
  margin-right: 20px;
}

footer .social .fa-youtube {
  margin-right: 20px;
}

footer .social .trooper-icon {
  height: 30px;
  width: auto;
  margin-right: 20px;
}

